<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['user']">User</a></li>
        <!-- <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li> -->
    </ul>
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['city']">City</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['language']">Language</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['language-new']">New language</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul>
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['otherskill']">Other Skill</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['otherskill-new']">New Other Skill</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul>    
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['phone']">Phone</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['phone-new']">New Phone</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul>        
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['picture']">Picture</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['picture-new']">New Picture</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul>     
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['proofexperience']">Proof Experience</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['proofexperience-new']">New Proof Experience</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul>       
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['socialmedia']">Social Media</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['socialmedia-new']">New Social Media</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul>  
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['study']">Study</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['study-new']">New Study</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul> 
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['messageapp']">Message App</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['messageapp-new']">New Message App</a></li> -->
        <!-- <li><a href="">Új Számla</a></li>  -->
    </ul>                      
    <ul class="nav nav-sidebar">
        <!-- <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li> -->
    </ul>
</div>