<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Pénznem listázása és szerkesztése</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Zip</th>
                            <th>Buttons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let language of currencies">
                            <td> {{ language.id }}</td>
                            <td> {{ language.name }}</td>
                            <td> {{ language.code }}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button (click)="onEditLanguage(language)" type="button" class="btn btn-primary">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </button>
                                    <button (click)="onDeleteLanguage(language)" type="button" class="btn btn-danger">
                                        <fa-icon [icon]="faTimes"></fa-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>