<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Tapasztalat szerkesztése</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Work name</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Comment</th>
                            <th>Buttons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proofExperience of currencies">
                            <td> {{ proofExperience.id }}</td>
                            <td> {{ proofExperience.nameWork }}</td>
                            <td> {{ proofExperience.from }}</td>
                            <td> {{ proofExperience.to }}</td>
                            <td> {{ proofExperience.comment }}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button (click)="onEditProofExperience(proofExperience)" type="button" class="btn btn-primary">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </button>
                                    <button (click)="onDeleteProofExperience(proofExperience)" type="button" class="btn btn-danger">
                                        <fa-icon [icon]="faTimes"></fa-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>