<section class="artist-table" *ngIf="params$ | async as params">
	<p-table [value]="params.users" sortField="name" sortMode="multiple" styleClass="p-datatable-striped p-datatable-sm"
		responsiveLayout="scroll" [paginator]="true" [rows]="10">
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="firstName">
					First name <p-sortIcon field="firstName"></p-sortIcon>
				</th>

				<th pSortableColumn="lastName">
					Last name <p-sortIcon field="lastName"></p-sortIcon>
				</th>

				<th pSortableColumn="email">
					Email <p-sortIcon field="email"></p-sortIcon>
				</th>

				<th pSortableColumn="city">
					City <p-sortIcon field="city"></p-sortIcon>
				</th>

				<th>Phone</th>
				
				<th>Social Media</th>

				<th>Picture</th>

				<th>Language</th>

				<th>Message App</th>

				<th>Other Skill</th>

				<th>Proof Experience</th>

				<th>Study</th>

				<th></th>
			</tr>
		</ng-template>

		<ng-template pTemplate="body" let-user>
			<tr>
				<td>{{ user.firstName }}</td>

				<td>{{ user.lastName }}</td>

				<td>
					{{ user.email }}
				</td>

				<td>
					{{ user.city?.name }} 
				</td>

				<td>
					<ng-container *ngFor="let phone of user.phones; index as i; first as isFirst">					
						<span *ngIf="i != 0">,</span> {{ phone?.code }} / {{ phone?.pnumber }}
					</ng-container>
				</td>

				<td>
					<ng-container *ngFor="let socialMedia of user.socialMedias; index as i; first as isFirst">
						<span *ngIf="i != 0">,</span> {{ socialMedia.name }}
					</ng-container>
				</td>

				<td>
					{{ user.picture?.name }} 
				</td>

				<td>
					<ng-container *ngFor="let language of user.languages; index as i; first as isFirst">
						<span *ngIf="i != 0">,</span> {{ language.name }}
					</ng-container>
				</td>

				<td > 
					<!-- <p *ngFor="let messageapp of user.messageApps; index as i; first as isFirst">{{ messageapp.name }}, </p> -->
					<ng-container *ngFor="let messageApp of user.messageApps; index as i; first as isFirst">
						<span *ngIf="i != 0">,</span> {{ messageApp.name }}
					</ng-container>
				</td>

				<td>
					<ng-container *ngFor="let otherSkill of user.otherSkills; index as i; first as isFirst">
						<span *ngIf="i != 0">,</span> {{ otherSkill.name }}
					</ng-container>
				</td>

				<td>
					<ng-container *ngFor="let proofExperience of user.proofExperiences; index as i; first as isFirst">
						<span *ngIf="i != 0">,</span> {{ proofExperience.nameWork }}
					</ng-container>
				</td>

				<td>
					<!-- {{ user.studies?.nameSchool }}  -->
					<ng-container *ngFor="let study of user.studies; index as i; first as isFirst">
						<span *ngIf="i != 0">,</span> {{ study.nameSchool }}
					</ng-container>
				</td>

				<td>
					<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
						(click)="editUser(user)"></button>
					<button pButton pRipple icon="pi pi-times-circle" class="p-button-rounded p-button-danger mr-2"
						(click)="deleteUser(user)"></button>						
				</td>
			</tr>
		</ng-template>
	</p-table>
</section>