<section class="artist-form" *ngIf="params$ | async as params">
	<form [formGroup]="params.formGroup">
		<input name="id" formControlName="id" hidden />

		<div class="field">
			<span class="p-float-label">
				<input id="nameSchool" type="text" pInputText formControlName="nameSchool" />

				<label for="nameSchool">School Name</label>
			</span>
		</div>

		<div class="field">
			<span class="p-float-label">
				<p-calendar id="from" formControlName="from" [showIcon]="true" [showButtonBar]="true">
					<ng-template pTemplate="date" let-date>
						<span [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
					</ng-template>
				</p-calendar>

				<label for="from">From</label>
			</span>
		</div>

		<div class="field">
			<span class="p-float-label">
				<p-calendar id="to" formControlName="to" [showIcon]="true" [showButtonBar]="true" [readonlyInput]="true">
					<ng-template pTemplate="header">Fejléc</ng-template>
    				<ng-template pTemplate="footer">Lábléc</ng-template>
				</p-calendar>

				<label for="to">To</label>
			</span>
		</div>

		<div class="field">
			<span class="p-float-label">
				<!-- <input id="comment" type="text" pInputText formControlName="comment" /> -->
				<textarea id="comment" rows="5" cols="30" pInputTextarea formControlName="comment"></textarea>

				<label for="comment">Comment</label>
			</span>
		</div>

		<div class="field">
			<span class="p-float-label">
				<input id="level" type="text" pInputText formControlName="level" />

				<label for="level">Level</label>
			</span>
		</div>

		<div style="margin-top: 10px" fxLayout="row" fxLayoutAlign="space-around">
			<button pButton type="button" label="Submit" (click)="submit()"
				[disabled]="!params.formGroup.valid"></button>

			<button pButton type="button" label="Cancel" (click)="cancel()"></button>
		</div>
	</form>
</section>