<p-tabView>
    <p-tabPanel header="Introduction">
        <div class="content">
            <p-image src="/assets/introduction/without-redux.jfif" alt="Image" width="550"></p-image>
        </div>
    </p-tabPanel>

    <p-tabPanel header="StoreService">
        <div class="content">
            <p-image src="/assets/introduction/by-service.png" alt="Image" width="850"></p-image>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Ngrx">
        <div class="content">
            <p-image src="/assets/introduction/ngrx.jpg" alt="Image" width="850"></p-image>
        </div>
    </p-tabPanel>
</p-tabView>